{% extends 'base.html'%}
{% import 'macros.html' as macro%}

   
{% block content %}
        
        <!-- Popular movie section  -->
        <h3 style="text-align: center;"> Headlines News</h3>
            <h3>BUSINESS NEWS</h3>
            <ul>
                
                {{macro.displayNewsList(business)}}
            </ul>
            <h3>TECH NEWS</h3>
            <ul>
                
                {{macro.displayNewsList(technology)}}
            </ul>
            <h3>SPORTS NEWS</h3>
            <ul>
                
                {{macro.displayNewsList(sports)}}
            </ul>
{% endblock %}  

    